include *.in
include *.rst
include *.txt
include *.py
include LICENSE
include tox.ini
recursive-include cdsapi *.py
recursive-include tests *.in
recursive-include tests *.py
recursive-include tests *.txt
